<h1>New Game</h1>

<%= form_for @game, url: new_game_path(@game), method: :post, html: {multipart: true} do |f| %>
  <%= render 'form', game: @game, f: f %>
<% end %>

<%= link_to 'Back', root_path %>
