$ ->
  setStatus = (game, status)->


  loadStatus = ->
    ONLINE_ICO = "<%= asset_path('online.png') %>"
    OFFLINE_ICO = "<%= asset_path('offline.png') %>"
    ERROR_ICO = "<%= asset_path('error.png') %>"

    setStatus = (game,status)->
      div = $(".async-status[data-short-name='#{game}']")
      stat = if status.online == undefined then status.status else if status.online then 'online' else 'offline'
      img = if status.online == undefined then ERROR_ICO else if status.online then ONLINE_ICO else OFFLINE_ICO
      content = "
       <p>
         <strong>Status:</strong>
         <span class='status-#{stat}'>
           <img class='status-image' src='#{img}'>
           #{stat}
         </span>
      "
      div.html(content)

    $.ajax
      url: '/status'
      success: (data)->
        for shortName,status of data
          setStatus(shortName, status)

  $(document).ready(loadStatus)
  $(document).on('page:load', loadStatus)