body
  padding-top: 50px

.game-icon
  width: 100%
  height: 100%
  max-width: 100px
  margin-right: 10px

.status-image
  width: 15px
  height: 15px

.status-online
  font-weight: bold
  color: green
.status-offline
  font-weight: bold
  color: red

.error
  color: red
