html,body
  height: 100%

.game-icon
  width: 100%
  height: 100%
  max-width: 100px
  margin-right: 10px

.status-image
  width: 15px
  height: 15px

.status-online
  font-weight: bold
  color: green
.status-offline
  font-weight: bold
  color: red

.loading_spinner
  width: 20px
  height: 20px

.error
  color: red

#master
  min-height: 100%
  height: auto !important

.mdl-layout__header-row
  padding-left: 20px !important
  color: #fff !important

.mdl-layout-title a:hover, .mdl-layout-title:active, .mdl-layout-title
  color: #fff !important

.logout
  display: inline !important
  padding: 0 !important

.card-container
  display: inline-block
  margin-bottom: 15px
  margin-right: 15px
  text-align: left
.index-container
  text-align: center

a:hover, a:focus, a, a:active
  text-decoration: none

.demo-card-square.mdl-card
  width: 320px
  height: 320px

  h2
    margin: 0
    font-size: 20px

  .mdl-card__title
    color: #fff
    background: center bottom 15% no-repeat #46B6AC
    background-size: contain

  .status
    height: 25px
    padding-left: 10px

.mdl-data-table
  width: 100% !important
  text-align: left !important
.mdl-textfield
  display: block !important
.file-picker
  display: none

.mdl-mini-footer
  padding: 10px !important

.mdl-card__title.mdl-card--expand
  max-height: 200px !important
  min-height: 200px !important